<?xml version="1.0"?>
<!--
/**
 * @category  Aromicon
 * @package   Aromicon_Deepl
 * @author    Stefan Richter <richter@aromicon.de>
 * @copyright 2018 aromicon GmbH (http://www.aromicon.de)
 * @license   Commercial https://www.aromicon.de/magento-download-extensions-modules/de/license
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <deepl>
            <api>
                <url>https://api.deepl.com/v1/</url>
            </api>
            <cms>
                <page_fields>title,content,content_heading,meta_keywords,meta_description,meta_title,identifier</page_fields>
            </cms>
            <product>
                <product_fields>name,short_description,description,meta_title,meta_keywords,meta_description,url_key</product_fields>
            </product>
            <category>
                <category_fields>name,description,meta_title,meta_keywords,meta_description,url_key</category_fields>
            </category>
        </deepl>
    </default>
</config>
